<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Социальные налоговые вычеты</title>
    <link rel="stylesheet" type="text/css" href="/static/css/standard_deduction.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-solid.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/static/js/deduction.js"></script>
</head>
<body>
<footer>
    <div class="name" onclick="location='/'">Калькулятор налогового вычета</div>
    {% if user is not none %}
    <div class="history" onclick="location='/download'">Скачать мои расчеты</div>
    {% endif %}
</footer>
<div class="title">
    <div class="footer footer1">
        <p class="text">На пожертвования</p>
        <div class="btn1">
            <i id="icon1" class="fa fa-chevron-circle-down" aria-hidden="true"></i>
        </div>
    </div>
    <div id="text1" class="{% if donation is none %}hidden{% endif %}">
        <ul>
            <li>благотворительным организациям;</li>
            <li>социально ориентированным некоммерческим организациям на осуществление ими деятельности, предусмотренной
                законодательством Российской Федерации о некоммерческих организациях;
            </li>
            <li>некоммерческим организациям, осуществляющим деятельность в области науки, культуры, физической культуры
                и спорта (за исключением профессионального спорта), образования, просвещения, здравоохранения, защиты
                прав и свобод человека и гражданина, социальной и правовой поддержки и защиты граждан, содействия защите
                граждан от чрезвычайных ситуаций, охраны окружающей среды и защиты животных;
            </li>
            <li>религиозным организациям на осуществление ими уставной деятельности;</li>
            <li>некоммерческим организациям на формирование или пополнение целевого капитала, которые осуществляются в
                порядке, установленном Федеральным законом от 30 декабря 2006 года N 275-ФЗ "О порядке формирования и
                использования целевого капитала некоммерческих организаций".
            </li>
        </ul>


        <div class="footer footer2">
            <p class="text">Рассчитать</p>
            <div class="btn2">
                <i id="icon2" class="fa fa-chevron-circle-down" aria-hidden="true"></i>
            </div>
        </div>
        <div id="text2" class="{% if donation is none %}hidden{% endif %}">
            <form method="post">
                <input type="hidden" name="type" value="Вычет за пожертвования">
                <div class="row">
                    <div>Сумма дохода:</div>
                    <input type="number" name="field1" min="0" value="0" step="1" required>
                </div>
                <div class="row">
                    <div>Сумма пожертвования:</div>
                    <input type="number" name="field2" min="0" value="0" step="1" required>
                </div>
                {% if donation is not none %}
                <div class="row">
                    <div>Рассчитанный НДФЛ: {{ donation }} р.</div>
                </div>
                {% endif %}
                <input type="submit" value="Рассчитать">
            </form>
        </div>
    </div>
</div>


<div class="title">
    <div class="footer footer3">
        <p class="text">На обучение</p>
        <div class="btn3">
            <i id="icon3" class="fa fa-chevron-circle-down" aria-hidden="true"></i>
        </div>
    </div>
    <div id="text3" class="{% if education is none %}hidden{% endif %}">
        <ul>
            <li>Право на получение указанного социального налогового вычета распространяется на налогоплательщиков,
                осуществлявших обязанности опекуна или попечителя над гражданами, бывшими их подопечными, после
                прекращения опеки или попечительства в случаях оплаты налогоплательщиками обучения указанных граждан в
                возрасте до 24 лет по очной форме обучения в организациях, осуществляющих образовательную деятельность.
            </li>
            <li>Указанный социальный налоговый вычет предоставляется при наличии у организации, осуществляющей
                образовательную деятельность, индивидуального предпринимателя (за исключением случаев осуществления
                индивидуальными предпринимателями образовательной деятельности непосредственно) лицензии на
                осуществление образовательной деятельности или при наличии у иностранной организации документа,
                подтверждающего статус организации, осуществляющей образовательную деятельность, либо при условии, что в
                едином государственном реестре индивидуальных предпринимателей содержатся сведения об осуществлении
                образовательной деятельности индивидуальным предпринимателем, осуществляющим образовательную
                деятельность непосредственно, а также представлении налогоплательщиком документов, подтверждающих его
                фактические расходы за обучение.
            </li>
            <li>Социальный налоговый вычет предоставляется за период обучения указанных лиц в организации,
                осуществляющей образовательную деятельность, включая академический отпуск, оформленный в установленном
                порядке в процессе обучения.
            </li>
            <li>Социальный налоговый вычет не применяется в случае, если оплата расходов на обучение производится за
                счет средств материнского (семейного) капитала, направляемых для обеспечения реализации дополнительных
                мер государственной поддержки семей, имеющих детей;
            </li>
            <li>Право на получение указанного социального налогового вычета распространяется также на налогоплательщика
                - брата (сестру) обучающегося в случаях оплаты налогоплательщиком обучения брата (сестры) в возрасте до
                24 лет по очной форме обучения в организациях, осуществляющих образовательную деятельность;
            </li>
        </ul>


        <div class="footer footer4">
            <p class="text">Рассчитать</p>
            <div class="btn4">
                <i id="icon4" class="fa fa-chevron-circle-down" aria-hidden="true"></i>
            </div>
        </div>
        <div id="text4" class="{% if education is none %}hidden{% endif %}">
            <form method="post">
                <input type="hidden" name="type" value="Вычет за обучение">
                <div class="row">
                    <div>Сумма дохода:</div>
                    <input type="number" name="field1" min="0" value="0" step="1" required>
                </div>
                <div class="row">
                    <div>Стоимость обучения:</div>
                    <input type="number" name="field2" min="0" value="0" step="1" required>
                </div>
                {% if education is not none %}
                <div class="row">
                    <div>Рассчитанный НДФЛ: {{ education }} р.</div>
                </div>
                {% endif %}
                <input type="submit" value="Рассчитать">
            </form>
        </div>
    </div>
</div>


<div class="title">
    <div class="footer footer5">
        <p class="text">На лечение</p>
        <div class="btn5">
            <i id="icon5" class="fa fa-chevron-circle-down" aria-hidden="true"></i>
        </div>
    </div>
    <div id="text5" class="{% if medicine is none %}hidden{% endif %}">
        <ul>
            <li>При применении социального налогового вычета, предусмотренного настоящим подпунктом, учитываются суммы
                страховых взносов, уплаченные налогоплательщиком в налоговом периоде по договорам добровольного личного
                страхования, а также по договорам добровольного страхования своих супруга (супруги), родителей, детей (в
                том числе усыновленных) в возрасте до 18 лет (до 24 лет, если дети (в том числе усыновленные) являются
                обучающимися по очной форме обучения в организациях, осуществляющих образовательную деятельность),
                подопечных в возрасте до 18 лет, заключенным им со страховыми организациями, имеющими лицензии на
                ведение соответствующего вида деятельности, предусматривающим оплату такими страховыми организациями
                исключительно медицинских услуг.
            </li>
            <li>Право на получение указанного в настоящем подпункте социального налогового вычета распространяется на
                налогоплательщиков, осуществлявших обязанности опекуна или попечителя над гражданами, бывшими их
                подопечными, после прекращения опеки или попечительства, если указанные граждане являются обучающимися
                по очной форме обучения в организациях, осуществляющих образовательную деятельность, в возрасте до 24
                лет.
            </li>
            <li>Общая сумма социального налогового вычета, предусмотренного абзацами первым - третьим настоящего
                подпункта, принимается в размере фактически произведенных расходов, но с учетом ограничения,
                установленного пунктом 2 настоящей статьи.
            </li>
            <li>По дорогостоящим видам лечения в медицинских организациях, у индивидуальных предпринимателей,
                осуществляющих медицинскую деятельность, сумма налогового вычета принимается в размере фактически
                произведенных расходов. Перечень дорогостоящих видов лечения утверждается постановлением Правительства
                Российской Федерации.
            </li>
            <li>Вычет сумм оплаты стоимости медицинских услуг и (или) уплаты страховых взносов предоставляется
                налогоплательщику, если медицинские услуги оказываются в медицинских организациях, у индивидуальных
                предпринимателей, имеющих соответствующие лицензии на осуществление медицинской деятельности, выданные в
                соответствии с законодательством Российской Федерации, а также при представлении налогоплательщиком
                документов, подтверждающих его фактические расходы на оказанные медицинские услуги, приобретение
                лекарственных препаратов для медицинского применения или уплату страховых взносов.
            </li>
            <li>Указанный социальный налоговый вычет предоставляется налогоплательщику, если оплата стоимости
                медицинских услуг и приобретенных лекарственных препаратов для медицинского применения и (или) уплата
                страховых взносов не были произведены за счет средств работодателей;
            </li>
        </ul>


        <div class="footer footer6">
            <p class="text">Рассчитать</p>
            <div class="btn6">
                <i id="icon6" class="fa fa-chevron-circle-down" aria-hidden="true"></i>
            </div>
        </div>
        <div id="text6" class="{% if medicine is none %}hidden{% endif %}">
            <form method="post">
                <input type="hidden" name="type" value="Вычет за лечение">
                <div class="row">
                    <div>Сумма дохода:</div>
                    <input type="number" name="field1" min="0" value="0" step="1" required>
                </div>
                <div class="row">
                    <div>Стоимость лечения:</div>
                    <input type="number" name="field2" min="0" value="0" step="1" required>
                </div>
                {% if medicine is not none %}
                <div class="row">
                    <div>Рассчитанный НДФЛ: {{ medicine }} р.</div>
                </div>
                {% endif %}
                <input type="submit" value="Рассчитать">
            </form>
        </div>
    </div>
</div>
</body>
</html>