<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Стандартные налоговые вычеты</title>
    <link rel="stylesheet" type="text/css" href="/static/css/standard_deduction.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-solid.css">
    <link rel="shortcut icon" href="static/icon.ico">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/static/js/deduction.js"></script>
</head>
<body>
<header>
    <div class="name" onclick="location='/'">Калькулятор налогового вычета</div>
    {% if user is not none %}
    <div class="history" onclick="location='/download'">Скачать мои расчеты</div>
    {% endif %}
</header>
<div class="title">
    <div class="footer footer1">
        <p class="text">В размере 3000 р.</p>
        <div class="btn1">
            <i id="icon1" class="fa fa-chevron-circle-down" aria-hidden="true"></i>
        </div>
    </div>
    <div id="text1" class="hidden">
        <ul>
            <li>лиц, получивших или перенесших лучевую болезнь и другие заболевания, связанные с радиационным
                воздействием вследствие катастрофы на Чернобыльской АЭС либо с работами по ликвидации последствий
                катастрофы на Чернобыльской АЭС;
            </li>

            <li>лиц, получивших инвалидность вследствие катастрофы на Чернобыльской АЭС из числа лиц, принимавших
                участие в ликвидации последствий катастрофы в пределах зоны отчуждения Чернобыльской АЭС или занятых в
                эксплуатации или на других работах на Чернобыльской АЭС (в том числе временно направленных или
                командированных), военнослужащих и военнообязанных, призванных на специальные сборы и привлеченных к
                выполнению работ, связанных с ликвидацией последствий катастрофы на Чернобыльской АЭС, независимо от
                места дислокации указанных лиц и выполняемых ими работ, а также лиц рядового и начальствующего состава
                органов внутренних дел, Государственной противопожарной службы, федеральной противопожарной службы
                Государственной противопожарной службы, лиц, проходящих службу в войсках национальной гвардии Российской
                Федерации и имеющих специальные звания полиции, сотрудников органов внутренних дел, федеральной
                противопожарной службы Государственной противопожарной службы, проходивших (проходящих) службу в зоне
                отчуждения, лиц, эвакуированных из зоны отчуждения Чернобыльской АЭС и переселенных из зоны отселения
                либо выехавших в добровольном порядке из указанных зон, лиц, отдавших костный мозг для спасения жизни
                людей, пострадавших вследствие катастрофы на Чернобыльской АЭС, независимо от времени, прошедшего со дня
                проведения операции по трансплантации костного мозга и времени развития у этих лиц в этой связи
                инвалидности;
            </li>

            <li>лиц, принимавших в 1986 - 1987 годах участие в работах по ликвидации последствий катастрофы на
                Чернобыльской АЭС в пределах зоны отчуждения Чернобыльской АЭС или занятых в этот период на работах,
                связанных с эвакуацией населения, материальных ценностей, сельскохозяйственных животных, и в
                эксплуатации или на других работах на Чернобыльской АЭС (в том числе временно направленных или
                командированных);
            </li>

            <li>военнослужащих, граждан, уволенных с военной службы, а также военнообязанных, призванных на специальные
                сборы и привлеченных в этот период для выполнения работ, связанных с ликвидацией последствий катастрофы
                на Чернобыльской АЭС, включая взлетно-подъемный, инженерно-технический составы гражданской авиации,
                независимо от места дислокации и выполняемых ими работ;
            </li>

            <li>лиц начальствующего и рядового состава органов внутренних дел, Государственной противопожарной службы, в
                том числе граждан, уволенных с военной службы, проходивших в 1986 - 1987 годах службу в зоне отчуждения
                Чернобыльской АЭС;
            </li>

            <li>военнослужащих, граждан, уволенных с военной службы, а также военнообязанных, призванных на военные
                сборы и принимавших участие в 1988 - 1990 годах в работах по объекту "Укрытие";
            </li>

            <li>ставших инвалидами, получившими или перенесшими лучевую болезнь и другие заболевания вследствие аварии в
                1957 году на производственном объединении "Маяк" и сбросов радиоактивных отходов в реку Теча, из числа
                лиц, принимавших (в том числе временно направленных или командированных) в 1957 - 1958 годах
                непосредственное участие в работах по ликвидации последствий аварии в 1957 году на производственном
                объединении "Маяк", а также занятых на работах по проведению защитных мероприятий и реабилитации
                радиоактивно загрязненных территорий вдоль реки Теча в 1949 - 1956 годах, лиц, принимавших (в том числе
                временно направленных или командированных) в 1959 - 1961 годах непосредственное участие в работах по
                ликвидации последствий аварии на производственном объединении "Маяк" в 1957 году, лиц, эвакуированных
                (переселенных), а также выехавших добровольно из населенных пунктов, подвергшихся радиоактивному
                загрязнению вследствие аварии в 1957 году на производственном объединении "Маяк" и сбросов радиоактивных
                отходов в реку Теча, включая детей, в том числе детей, которые в момент эвакуации (переселения)
                находились в состоянии внутриутробного развития, а также военнослужащих, вольнонаемный состав войсковых
                частей и специального контингента, которые были эвакуированы в 1957 году из зоны радиоактивного
                загрязнения (при этом к выехавшим добровольно гражданам относятся лица, выехавшие в период с 29 сентября
                1957 года по 31 декабря 1958 года из населенных пунктов, подвергшихся радиоактивному загрязнению
                вследствие аварии в 1957 году на производственном объединении "Маяк", а также лица, выехавшие в период с
                1949 по 1956 год включительно из населенных пунктов, подвергшихся радиоактивному загрязнению вследствие
                сбросов радиоактивных отходов в реку Теча), лиц, проживающих в населенных пунктах, подвергшихся
                радиоактивному загрязнению вследствие аварии в 1957 году на производственном объединении "Маяк" и
                сбросов радиоактивных отходов в реку Теча, где среднегодовая эффективная эквивалентная доза облучения
                составляла на 20 мая 1993 года свыше 1 мЗв (дополнительно по сравнению с уровнем естественного
                радиационного фона для данной местности), лиц, выехавших добровольно на новое место жительства из
                населенных пунктов, подвергшихся радиоактивному загрязнению вследствие аварии в 1957 году на
                производственном объединении "Маяк" и сбросов радиоактивных отходов в реку Теча, где среднегодовая
                эффективная эквивалентная доза облучения составляла на 20 мая 1993 года свыше 1 мЗв (дополнительно по
                сравнению с уровнем естественного радиационного фона для данной местности);
            </li>

            <li>лиц, непосредственно участвовавших в испытаниях ядерного оружия в атмосфере и боевых радиоактивных
                веществ, учениях с применением такого оружия до 31 января 1963 года;
            </li>

            <li>лиц, непосредственно участвовавших в подземных испытаниях ядерного оружия в условиях нештатных
                радиационных ситуаций и действия других поражающих факторов ядерного оружия;
            </li>

            <li>лиц, непосредственно участвовавших в ликвидации радиационных аварий, происшедших на ядерных установках
                надводных и подводных кораблей и на других военных объектах и зарегистрированных в установленном порядке
                федеральным органом исполнительной власти, уполномоченным в области обороны;
            </li>

            <li>непосредственно участвовавших в работах (в том числе военнослужащих) по сборке ядерных зарядов до 31
                декабря 1961 года;
            </li>

            <li>лиц, непосредственно участвовавших в подземных испытаниях ядерного оружия, проведении и обеспечении
                работ по сбору и захоронению радиоактивных веществ;
            </li>

            <li>инвалидов Великой Отечественной войны;</li>

            <li>инвалидов из числа военнослужащих, ставших инвалидами I, II и III групп вследствие ранения, контузии или
                увечья, полученных при защите СССР, Российской Федерации или при исполнении иных обязанностей военной
                службы, либо полученных вследствие заболевания, связанного с пребыванием на фронте, либо из числа бывших
                партизан, а также других категорий инвалидов, приравненных по пенсионному обеспечению к указанным
                категориям военнослужащих;
            </li>
        </ul>
    </div>
</div>
<div class="title">
    <div class="footer footer2">
        <p class="text">В размере 500 р.</p>
        <div class="btn2">
            <i id="icon2" class="fa fa-chevron-circle-down" aria-hidden="true"></i>
        </div>
    </div>
    <div id="text2" class="hidden">
        <ul>
            <li>Героев Советского Союза и Героев Российской Федерации, а также лиц, награжденных орденом Славы трех
                степеней;
            </li>

            <li>лиц вольнонаемного состава Советской Армии и Военно-Морского Флота СССР, органов внутренних дел СССР и
                государственной безопасности СССР, занимавших штатные должности в воинских частях, штабах и учреждениях,
                входивших в состав действующей армии в период Великой Отечественной войны, либо лиц, находившихся в этот
                период в городах, участие в обороне которых засчитывается этим лицам в выслугу лет для назначения пенсии
                на льготных условиях, установленных для военнослужащих частей действующей армии;
            </li>

            <li>участников Великой Отечественной войны, боевых операций по защите СССР из числа военнослужащих,
                проходивших службу в воинских частях, штабах и учреждениях, входивших в состав армии, и бывших партизан;
            </li>

            <li>лиц, находившихся в Ленинграде в период его блокады в годы Великой Отечественной войны с 8 сентября 1941
                года по 27 января 1944 года независимо от срока пребывания;
            </li>

            <li>бывших, в том числе несовершеннолетних, узников концлагерей, гетто и других мест принудительного
                содержания, созданных фашистской Германией и ее союзниками в период Второй мировой войны;
            </li>

            <li>инвалидов с детства, а также инвалидов I и II групп;</li>

            <li>лиц, получивших или перенесших лучевую болезнь и другие заболевания, связанные с радиационной нагрузкой,
                вызванные последствиями радиационных аварий на атомных объектах гражданского или военного назначения, а
                также в результате испытаний, учений и иных работ, связанных с любыми видами ядерных установок, включая
                ядерное оружие и космическую технику;
            </li>

            <li>младший и средний медицинский персонал, врачей и других работников лечебных учреждений (за исключением
                лиц, чья профессиональная деятельность связана с работой с любыми видами источников ионизирующих
                излучений в условиях радиационной обстановки на их рабочем месте, соответствующей профилю проводимой
                работы), получивших
                сверхнормативные дозы радиационного облучения при оказании медицинской помощи и обслуживании в период с
                26 апреля по 30 июня 1986 года, а также лиц, пострадавших в результате катастрофы на Чернобыльской АЭС и
                являющихся источником ионизирующих излучений;
            </li>

            <li>лиц, отдавших костный мозг для спасения жизни людей;</li>

            <li>рабочих и служащих, а также бывших военнослужащих и уволившихся со службы лиц рядового и начальствующего
                состава органов внутренних дел, Государственной противопожарной службы, федеральной противопожарной
                службы Государственной противопожарной службы, лиц, проходивших службу в войсках национальной гвардии
                Российской Федерации и имеющих специальные звания полиции, сотрудников органов внутренних дел,
                учреждений и органов уголовно-исполнительной системы, федеральной противопожарной службы Государственной
                противопожарной службы, получивших профессиональные заболевания, связанные с радиационным воздействием
                на работах в зоне отчуждения Чернобыльской АЭС;
            </li>

            <li>лиц, принимавших (в том числе временно направленных или командированных) в 1957 - 1958 годах
                непосредственное участие в работах по ликвидации последствий аварии в 1957 году на производственном
                объединении "Маяк", а также занятых на работах по проведению защитных мероприятий и реабилитации
                радиоактивно загрязненных территорий вдоль реки Теча в 1949 - 1956 годах;
            </li>

            <li>лиц, эвакуированных (переселенных), а также выехавших добровольно из населенных пунктов, подвергшихся
                радиоактивному загрязнению вследствие аварии в 1957 году на производственном объединении "Маяк" и
                сбросов радиоактивных отходов в реку Теча, включая детей, в том числе детей, которые в момент эвакуации
                (переселения) находились в состоянии внутриутробного развития, а также бывших военнослужащих,
                вольнонаемный состав войсковых частей и специального контингента, которые были эвакуированы в 1957 году
                из зоны радиоактивного загрязнения. При этом к выехавшим добровольно лицам относятся лица, выехавшие с
                29 сентября 1957 года по 31 декабря 1958 года включительно из населенных пунктов, подвергшихся
                радиоактивному загрязнению вследствие аварии в 1957 году на производственном объединении "Маяк", а также
                выехавшие с 1949 по 1956 год включительно из населенных пунктов, подвергшихся радиоактивному загрязнению
                вследствие сбросов радиоактивных отходов в реку Теча;
            </li>

            <li>лиц, эвакуированных (в том числе выехавших добровольно) в 1986 году из зоны отчуждения Чернобыльской
                АЭС, подвергшейся радиоактивному загрязнению вследствие катастрофы на Чернобыльской АЭС, или
                переселенных (переселяемых), в том числе выехавших добровольно, из зоны отселения в 1986 году и в
                последующие годы, включая детей, в том числе детей, которые в момент эвакуации находились в состоянии
                внутриутробного развития;
            </li>

            <li>родителей и супругов военнослужащих, погибших вследствие ранения, контузии или увечья, полученных ими
                при защите СССР, Российской Федерации или при исполнении иных обязанностей военной службы, либо
                вследствие заболевания, связанного с пребыванием на фронте, а также родителей и супругов государственных
                служащих, погибших при исполнении служебных обязанностей. Указанный вычет предоставляется супругам
                погибших военнослужащих и государственных служащих, если они не вступили в повторный брак;
            </li>

            <li>граждан, уволенных с военной службы или призывавшихся на военные сборы, выполнявших интернациональный
                долг в Республике Афганистан и других странах, в которых велись боевые действия, а также граждан,
                принимавших участие в соответствии с решениями органов государственной власти Российской Федерации в
                боевых действиях на территории Российской Федерации;
            </li>
        </ul>
    </div>
</div>
<div class="title">
    <div class="footer footer3">
        <p class="text">За детей</p>
        <div class="btn3">
            <i id="icon3" class="fa fa-chevron-circle-down" aria-hidden="true"></i>
        </div>
    </div>
    <div id="text3" class="{% if deduction is none %}hidden{% endif %}">
        <ul>
            <li>налоговый вычет за каждый месяц налогового периода распространяется на родителя, супруга (супругу)
                родителя, усыновителя, на обеспечении которых находится ребенок, в следующих размерах:
                <ul>
                    <li>1 400 рублей - на первого ребенка;</li>

                    <li>1 400 рублей - на второго ребенка;</li>

                    <li>3 000 рублей - на третьего и каждого последующего ребенка;</li>

                    <li>12 000 рублей - на каждого ребенка в случае, если ребенок в возрасте до 18 лет является
                        ребенком-инвалидом, или учащегося очной формы обучения, аспиранта, ординатора, интерна, студента
                        в возрасте до 24 лет, если он является инвалидом I или II группы;
                    </li>
                </ul>
            </li>
            <li>
                налоговый вычет за каждый месяц налогового периода распространяется на опекуна, попечителя, приемного
                родителя, супруга (супругу) приемного родителя, на обеспечении которых находится ребенок, в следующих
                размерах:
                <ul>
                    <li>1 400 рублей - на первого ребенка;</li>

                    <li>1 400 рублей - на второго ребенка;</li>

                    <li>3 000 рублей - на третьего и каждого последующего ребенка;</li>

                    <li>6 000 рублей - на каждого ребенка в случае, если ребенок в возрасте до 18 лет является
                        ребенком-инвалидом, или учащегося очной формы обучения, аспиранта, ординатора, интерна, студента
                        в возрасте до 24 лет, если он является инвалидом I или II группы.
                    </li>
                </ul>
            </li>
        </ul>
        <div class="footer footer4">
            <p class="text">Рассчитать</p>
            <div class="btn4">
                <i id="icon4" class="fa fa-chevron-circle-down" aria-hidden="true"></i>
            </div>
        </div>
        <div id="text4" class="{% if deduction is none %}hidden{% endif %}">
            <form method="post">
                <input type="hidden" name="type" value="Вычет за детей">
                <div class="row">
                    <div>Заработная плата:</div>
                    <input type="number" name="field1" min="0" value="0" step="1" required>
                </div>
                <div class="row">
                    <div>Количество детей:</div>
                    <input type="number" name="field2" min="0" value="0" step="1" required>
                </div>
                {% if deduction is not none %}
                <div class="row">
                    <div>Рассчитанный НДФЛ: {{ deduction }} р.</div>
                </div>
                {% endif %}
                <input type="submit" value="Рассчитать">
            </form>
        </div>
    </div>
</div>
</body>
</html>